
body,html{
	height: 100%;
	width: 100%;
}

.button{
	margin-top: 200px;
	display: flex;
	justify-content: center; 
}

.btn-primary{	
	font-size: 20px;
	border-radius: 50px;
	text-align: center;
	padding: 5px 10px;
	border-width: 5px;
	background: #ff6666;
	border-color: #ff3333;

}

.btn-primary:hover{
	transition: 1s;
	transform: scale(1.2);
	background:  green ;
	border-color: green ;	
}

.heading h2{
	text-align: center;
	margin-top: 170px;
	margin-bottom: 50px;
	/*font-style: bold;*/
	color: #ff8080;
	font-family: Times New Roman  ;
	font-size: 50px;
	flex-wrap: wrap;

}

.heading:hover{
	transition: 1s;
	transform: scale(1.2);
}


body{
	background-image: url("http://images.unsplash.com/reserve/6HJtLkJSDqjqlE2NipEu_macbook.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
	background-position:center;
	background-size: cover ;
	overflow: hidden;
}

